<div class="pop_users">


<div class="user_follows">

<h1><%= @user.name%> Followers: </h1>
<h2><%= @user.followers.length %></h2>

<% @user.followers.each do |follower| %>
    <p><%= link_to follower.username, user_path(follower) %></p>
<% end %>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>