<br>
<div class="pop_users">


<div class="user_follows">

<h1>Popular users:</h1>
<br>
    <table align="center">
        <thead>
            <tr>
                <th>Users</th>
                <th>Followers</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td ><%= link_to user.username, user_path(user) %></td>
                <td ><%= link_to user.followers.size, followers_list_path(user) %></td>
            <% end %>    
            </tr>
       </tbody>
    </table>     
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>