.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}


.inner {
    flex: 1;
    display: inline-block;
    margin: 10px;
    border-style: solid;
    padding: 10px;
    border-color: white, 5px;
    border-radius: 20px 20px;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
}

.inner:hover {
    background-color: white;
    color: black;
}

.inner:hover a {
    color: black;
}

.center_titles {
    text-align: center;
}